
body {
  margin: 0;
  padding: 0;
  background-color: #1E3D42;
}

a {
  text-decoration: none;
}

::placeholder {
  color: #777777;
}

button, input, select, textarea {
  background-color: #111111;
  color: #6C77C1;
  opacity: 0.8;
  border: 1px solid #444444;
  padding: 0.3em;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.btn-small {
  font-size: 0.8em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  margin: 1em;
}

#error {
  color: red;
}

#content {
  margin-left: 1em;
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  flex-grow: 1;
  margin: 0 1% 1% 0;
}

.functions-elm, .events-elm {
  margin-bottom: 2em;
}

.parameter-table {
  border-left: 2px solid #000000;
}

.parameter-table th {
  border-bottom: 0.1em solid #000000;
  padding: 0 0.3em 1em 0.3em;
  text-align: left;
}

.parameter-table td {
  padding: 0.3em;
  vertical-align: top;
}

#content, #audio-wrapper, #image-wrapper, #ui-wrapper {
  overflow: auto;
  flex-grow: 1;
}

/* Audio Browser */

.audio, .image {
  padding: 1em;
  word-wrap: break-word;
  display: inline-block;
}

.audio .audio-tags, .image .image-tags {
  display: flex;
  padding: 1em 0 1em 0;
}

.audio .audio-tags div, .image .image-tags div {
  flex-grow: 1;
  width: 0;
}

/* Image Browser */

.image {
  text-align: center;
}

.image img {
  max-width: 30%;
  cursor: pointer;
}

.image-dimensions {
  padding: 0.3em;
  font-size: 0.9em;
}

#image_overlay, #add_image_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #1E3D42;
}

#image_overlay > div, #add_image_overlay > div {
  margin: 1em;
}

#add_image_overlay textarea {
  width: 100%;
  height: 10em;
}

#image_overlay img {
  border: 2px dashed #111111;
}

.section-head {
  font-size: 20px;
}

/* Lua Help Diff */

.item-added {
  color: green;
}

.item-removed {
  color: red;
}

/* Tags Page */

#tags-content {
  margin-left: 1em;
}

#tags-content thead {
  font-weight: bold;
  font-size: 1.5em;
}

#tags-content td {
  border-top: 1px solid #6A7495;
  padding: 0.5em;
}

/* UI Editor */

#ui-wrapper {
  font-family: "Open Sans", Helvetica;
  overflow: hidden;
  position: relative;
}

.tfm-textedit {
  position: absolute;
  color: #009D9D;
  border: none;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
}

.ui-editor-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  background: #1E3D42;
  display: none;
}

.ui-editor-code {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  background: #1E3D42;
  display: none;
}

.ui-editor-code #output {
  min-width: 25vw;
  min-height: 20vh;
}
