
body {
  margin: 0;
  padding: 1%;
  background-color: #1E3D42;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 1%;
}

#error {
  color: red;
}

#content {
  flex-grow: 1;
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  white-space: pre;
  margin-bottom: 1%;
}
