
body {
  margin: 0;
  padding: 0;
  background-color: #1E3D42;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  margin: 1em;
}

#error {
  color: red;
}

#content {
  flex-grow: 1;
  margin-left: 1em;
  overflow: auto;
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  white-space: pre;
  margin-bottom: 1%;
}
